<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>

    <script src="./assets/angularjs/angularjs.js"></script>
    <script src="./assets/jquery/jquery.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./assets/fontawesome/css/all.css">

    <script src="./controllers/index.controller.js"></script>

</head>
<body>
    <header class="mb-2">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <i class="fa-solid fa-list-check"></i>
                AngularJS Task Manager
              </a>
            </div>
        </nav>
    </header>

    <main class="container-fluid" ng-app="taskApp" ng-controller="taskCtrl">

        <div class="container-fluid" align="center">
            <!-- Button trigger modal -->
            <button type="button" id="btnAddRequest" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskModal">
                <i class="fa-solid fa-plus"></i> ADD NEW TASK
            </button>
        </div>
  
        <!-- Modal -->
        <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="taskModalLabel"><i class="fa-solid fa-list-check"></i> TASK MANAGER</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p hidden>Task ID: <span ng-model="Id">{{Id}}</span></p>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="Title">
                        <label for="Title">Title</label>
                    </div>
                      
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="Description" ng-model="Description" style="height: 30vh;"></textarea>
                        <label for="Description">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAdd" class="btn btn-sm btn-primary" ng-click="AddData()"><i class="fa-solid fa-plus"></i> Add</button>
                    <button id="btnUpdate" class="btn btn-sm btn-success" ng-click="UpdateData()"><i class="fa-solid fa-pen"></i> Update</button>
                </div>
            </div>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col p-2" ng-repeat="task in tasks">
              <div class="card">
                <input type="hidden" value={{task.Id}}>
                <div class="card-body">
                  <h5 class="card-title">{{task.Title}}</h5>
                  <p class="card-text">{{task.Description.substr(0,20)}}</p>
                  <div align="center">
                    <hr>
                    <button id="btnViewRequest" class="btn btn-sm btn-warning rounded-circle" ng-click="ViewData(task)" data-bs-toggle="modal" data-bs-target="#taskModal"><i class="fa-solid fa-eye"></i></button>
                    <button class="btn btn-sm btn-danger rounded-circle" ng-click="DeleteData(task)"><i class="fa-solid fa-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </main>
</body>
</html>